.core-reset {
	.my-card {
		// 	border-radius: 12px;
		// box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.7), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
		max-width: 500px;
		width: 100%;
		.sss {
			border-radius: 50px;
		}
	}
	.continue {
		border-radius: 50px;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-color: teal;
		}
	}
}
