.forgot-password-page {
	width: 100vw;
	overflow: hidden !important;
	.forgot-password-card {
		margin-top: 150px;
		align-items: center;
		position: absolute;
		width: 100%;
		max-width: 450px;
		// box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
		background: white;
		border-radius: 12px;
	}
	.continue-btn {
		border-radius: 50px;
	}
}
